body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

.header {
	background: #D1714D;
    display: block;
    height: 40px;
    padding: 10px 10px 5px 5px;
}
.logo {
    text-align: left;
	vertical-align: middle;
}
.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}
.mainPane {
    height: 100%;
    width: 100%;
    border: black solid thin;
    overflow: auto;
}
.linkHome {
    float: right;
}
.content {
	padding: 10px 0;
}

.footer {
    padding: 10px 10px 5px 5px;
	background: #785E48;
}


/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.button_to, .button_to div {
	display: inline;
}

.buttonContent .button_to input, .buttonContent a, .button_to a {
    display: inline;
	height: 100px;
	width: 150px;
	vertical-align: middle;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-size: large;
	font-weight: bold;
}
.buttonContent {
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: center;
}
.formLabel {
    font-size: medium;
    vertical-align: top;
    text-align: right;
}
.radioButtons {
    margin-left: 0;
    margin-bottom: 2px;

    font-size: medium;
}
.textField {
    font-size: medium;
    margin-left: 20px;
    margin-bottom: 20px;
}
.resourcePane {
    margin-left: 10px;
    width: 150px;
    vertical-align: top;
    border: black solid thin;
    height: 300px;
}
.contentPane {
    border-left: black solid thin;
}
.resourcePaneName {
    border-top: black solid thin;
    font-size: large;
    color: blue;
}
.resourcePaneResources {
    font-size: x-small;
    border-top: black solid thin;
}
.fullPane {
    height: 100%;
}
.nodisplay {
    display: none;
}
.content {
    margin: 10px;
}
.content li {
    margin-left: 50px;
}
.homeContent {
    width: 100%;
}
.headerSection {
    height: 20px;
    background-color: #FAAD63;
    font-size: 16pt;
}
.headerSection a, .headerSection a#visit {
    font-size: 10pt;
    color: #38403B;
}
.mainSection {
    vertical-align: top;
    padding: 5px;
}
.todoSection {

}
.articleSection {
    height: 100%;
    width: 100%;
}
.mainArticleSection {
    height: 200px;
    width: 100%;
    background-color: #D1714D;
    vertical-align: top;
}
.otherArticleSection {
    width: 100%;
    vertical-align: top;
    background-color: #785E48;
}
.rssSection {
    height: 50px;
    background-color: #39403B;
}
.footerSection {
    height: 50px;
    background-color: #3D1C24;
}

.formTable td {
    padding: 4px;
}

.providerName {
    color: blue;
}

.articleTitle {
    font-weight: bold;
}
.articleAuthor {
    font-style: italic;
}
.articleContent {
    border: black dashed thin;
}